{% extends 'base.html' %}
{% load staticfiles %}

{% block js %}
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <script src="{% static 'template/js/editar_staff.js' %}"></script>
{% endblock %}

{% block container %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Registro de staff</h1>
    </div>

    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-12 col-md-12 mb-12">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <form id="form" data-url-edit="{% url 'app_dashboard:api:editar-staff-detail' staff.id %}"
                              class="user col-sm-12 mb-12 mb-sm-12">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="nombre"></label>
                                    <input type="text" class="form-control form-control-user" id="nombre" name="nombre"
                                           placeholder="Nombre completo" value="{{ staff.nombre }}">
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="fecha_de_nacimiento"></label>
                                    <input type="text" class="form-control form-control-user" id="fecha_de_nacimiento"
                                           name="fecha_de_nacimiento" placeholder="Fecha de nacimiento"
                                           value="{{ staff.fecha_de_nacimiento|date:"d/m/Y" }}"
                                           data-format="dd/mm/yyyy">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="apellido_paterno"></label>
                                    <input type="text" class="form-control form-control-user" id="apellido_paterno"
                                           name="apellido_paterno" placeholder="Apellido paterno"
                                           value="{{ staff.apellido_paterno }}">
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="apellido_materno"></label>
                                    <input type="text" class="form-control form-control-user" id="apellido_materno"
                                           name="apellido_materno" placeholder="Apellido materno"
                                           value="{{ staff.apellido_materno }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label for="tipo_documento"></label>
                                    <select id="tipo_documento" name="tipo_documento"
                                            class="form-control">
                                        <option value="">-- Seleccion documento --</option>
                                        {% for tipo_documento in ls_tipo_documento %}
                                            <option value="{{ tipo_documento.id }}" {{ tipo_documento.nombre_corto }}
                                                    {% if tipo_documento.id == staff.tipo_documento.id %}selected{% endif %}>
                                                {{ tipo_documento.nombre_corto }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label for="numero_de_documento"></label>
                                    <input type="text" class="form-control form-control-user" id="numero_de_documento"
                                           name="numero_de_documento" placeholder="Numero de documento"
                                           value="{{ staff.numero_de_documento }}">
                                </div>
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label for="genero"></label>
                                    <select id="genero" name="genero" class="form-control">
                                        <option value="">-- Seleccione genero --</option>
                                        {% for nombre, id in dict_genero.items %}
                                            <option value="{{ id }}" {% if id == staff.genero %}selected{% endif %}>
                                                {{ nombre }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="telefono_o_celular"></label>
                                    <input type="text" class="form-control form-control-user" id="telefono_o_celular"
                                           name="telefono_o_celular" placeholder="Telefono o celular"
                                           value="{{ staff.telefono_o_celular }}">
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="correo"></label>
                                    <input type="text" class="form-control form-control-user" id="correo"
                                           name="correo" placeholder="Correo electronico" value="{{ staff.correo }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12 mb-6 mb-sm-0">
                                    <button type="submit" class="btn btn-facebook btn-block">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}