{% extends 'base.html' %}
{% load staticfiles %}

{% block js %}
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <script src="{% static 'template/js/editar_producto.js' %}"></script>
{% endblock %}

{% block container %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Registro de producto</h1>
    </div>

    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-12 col-md-12 mb-12">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <form id="form" class="user col-sm-12 mb-12 mb-sm-12"
                              data-url-edit="{% url 'app_dashboard:api:editar-producto-detail' producto.id %}"
                              data-url-refresh="{% url 'app_dashboard:editar-producto' producto.id %}">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="nombre"></label>
                                    <input type="text" class="form-control form-control-user" id="nombre" name="nombre"
                                           placeholder="Nombre de producto" value="{{ producto.nombre }}">
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="descripcion"></label>
                                    <input type="text" class="form-control form-control-user" id="descripcion"
                                           name="descripcion" placeholder="Descripcion"
                                           value="{{ producto.descripcion }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label for="categoria"></label>
                                    <select id="categoria" name="categoria" class="form-control">
                                        <option value="">-- Seleccione categoria --</option>
                                        {% for categoria in ls_categoria %}
                                            <option value="{{ categoria.id }}"
                                                    {% if categoria.id == producto.categoria.id %}
                                                    selected {% endif %}>{{ categoria.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label for="tipo_unidad"></label>
                                    <select id="tipo_unidad" name="tipo_unidad" class="form-control">
                                        <option value="">-- Seleccione tipo de unidad --</option>
                                        {% for tipo_unidad in ls_tipo_unidad %}
                                            <option value="{{ tipo_unidad.id }}"
                                                    {% if tipo_unidad.id == producto.tipo_unidad.id %}
                                                    selected {% endif %}>{{ tipo_unidad.nombre }}
                                                / {{ tipo_unidad.conversion.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label for="precio"></label>
                                    <input type="text" class="form-control form-control-user" id="precio" name="precio"
                                           placeholder="Precio" value="{{ producto.precio }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12 mb-6 mb-sm-0">
                                    <button type="submit" class="btn btn-facebook btn-block">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-xl-4 col-lg-5" style="margin: 0 auto">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Codigo QR</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <a href="#" type="text/css" id="imprimir" data-id="{{ path_img }}">Imprimir</a>
                                <div class="">
                                    <img src="{{ path_img }}" style="width: 100%; height: 100%">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}