{% extends 'base.html' %}
{% load staticfiles %}

{% block js %}
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <script src="{% static 'template/js/registro_staff.js' %}"></script>
{% endblock %}

{% block container %}
    <div class="text-center">
        <div class="error mx-auto" data-text="404">404</div>
        <p class="lead text-gray-800 mb-5">Page Not Found</p>
        <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
        <a href="{% url 'app_dashboard:listado-producto' %}">&larr; Back to Dashboard</a>
    </div>
{% endblock %}