{% extends 'base_login.html' %}
{% load staticfiles %}

{% block container_login %}
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <form method="post" role="form" id="">
                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Registro almacen</h1>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <div class="input-group-addon">
                                                <i class="entypo-user"></i>
                                            </div>
                                            {{ form.username.errors }}
                                            {{ form.username }}
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group-addon">
                                                <i class="entypo-user"></i>
                                            </div>
                                            {{ form.password.errors }}
                                            {{ form.password }}
                                        </div>
                                        {#                                        <div class="form-group">#}
                                        {#                                            <div class="custom-control custom-checkbox small">#}
                                        {#                                                <input type="checkbox" class="custom-control-input" id="customCheck">#}
                                        {#                                                <label class="custom-control-label" for="customCheck">Remember#}
                                        {#                                                    Me</label>#}
                                        {#                                            </div>#}
                                        {#                                        </div>#}
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Ingresar
                                        </button>
                                        {#<hr>#}
                                        {#<a href="index.html" class="btn btn-google btn-user btn-block">#}
                                        {#    <i class="fab fa-google fa-fw"></i> Login with Google#}
                                        {#</a>#}
                                        {#<a href="index.html" class="btn btn-facebook btn-user btn-block">#}
                                        {#    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook#}
                                        {#</a>#}
                                    </form>
                                    <hr>
                                    {#   <div class="text-center">#}
                                    {#       <a class="small" href="forgot-password.html">Forgot Password?</a>#}
                                    {#   </div>#}
                                    {#   <div class="text-center">#}
                                    {#       <a class="small" href="register.html">Create an Account!</a>#}
                                    {#   </div>#}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}
