{% extends 'base.html' %}
{% load staticfiles %}

{% block js %}
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <script src="{% static 'template/js/registro_producto.js' %}"></script>
{% endblock %}

{% block container %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Registro de producto</h1>
    </div>

    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-12 col-md-12 mb-12">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <form id="form" class="user col-sm-12 mb-12 mb-sm-12"
                              data-url-save="{% url 'app_dashboard:api:crear-producto-list' %}"
                              data-url-refresh="{% url 'app_dashboard:registro-producto' %}">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="nombre"></label>
                                    <input type="text" class="form-control form-control-user" id="nombre" name="nombre"
                                           placeholder="Nombre de producto">
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="descripcion"></label>
                                    <input type="text" class="form-control form-control-user" id="descripcion"
                                           name="descripcion" placeholder="Descripcion">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label for="categoria"></label>
                                    <select id="categoria" name="categoria" class="form-control">
                                        <option value="">-- Seleccione categoria --</option>
                                        {% for categoria in ls_categoria %}
                                            <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label for="tipo_unidad"></label>
                                    <select id="tipo_unidad" name="tipo_unidad" class="form-control">
                                        <option value="">-- Seleccione tipo de unidad --</option>
                                        {% for tipo_unidad in ls_tipo_unidad %}
                                            <option value="{{ tipo_unidad.id }}">{{ tipo_unidad.nombre }}
                                                / {{ tipo_unidad.conversion.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label for="precio"></label>
                                    <input type="text" class="form-control form-control-user" id="precio" name="precio"
                                           placeholder="Precio">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12 mb-6 mb-sm-0">
                                    <button type="submit" class="btn btn-facebook btn-block">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}