{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <script src="{% static 'template/js/registrar_almacen_producto.js' %}"></script>
{% endblock %}

{% block container %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Registro producto en almacen</h1>
    </div>

    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-12 col-md-12 mb-12">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <form id="form" class="user col-sm-12 mb-12 mb-sm-12">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="productod"></label>
                                    <select id="productod" name="producto" class="form-control">
                                        <option value="">-- Seleccione producto --</option>
                                        {% for producto in ls_producto %}
                                            <option value="{{ producto.id }}"
                                                    data-nombre="{{ producto.nombre }}">{{ producto.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="almacen"></label>
                                    <select id="almacen" name="almacen" class="form-control">
                                        <option value="">-- Seleccione almacen --</option>
                                        {% for almacen in ls_almacen %}
                                            <option value="{{ almacen.id }}"
                                                    data-nombre="{{ almacen.nombre }}">{{ almacen.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label for="stock_minimo"></label>
                                    <input type="number" class="form-control form-control-user" id="stock_minimo"
                                           name="stock_minimo" placeholder="Stock minimo">
                                </div>
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label for="stock_maximo"></label>
                                    <input type="number" class="form-control form-control-user" id="stock_maximo"
                                           name="stock_maximo" placeholder="Stock maximo">
                                </div>
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label for="stock_actual"></label>
                                    <input type="number" class="form-control form-control-user" id="stock_actual"
                                           name="stock_actual" placeholder="Stock actual">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12 mb-6 mb-sm-0">
                                    <button id="agregar" type="button" class="btn btn-facebook btn-block">Agregar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4 mt-5 col-xl-12 col-md-12 mb-12">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="tabla_producto_almacen" width="100%" cellspacing="0"
                           data-url-save="{% url 'app_dashboard:api:crear-almacen-producto-list' %}"
                           data-url-refresh="{% url 'app_dashboard:registro-producto-almacen' %}">
                        <thead>
                        <tr>
                            <th>Almacen</th>
                            <th>Producto</th>
                            <th>Stock minimo</th>
                            <th>Stock maximo</th>
                            <th>Stock actual</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 mb-6 mb-sm-0">
                    <button id="guardar" type="button" class="btn btn-facebook btn-block">Guardar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}