{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <script src="{% static 'template/js/registrar_movimiento_producto.js' %}"></script>
{% endblock %}

{% block container %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Registro de movimiento por producto</h1>
    </div>

    <div class="row">

        <div class="col-xl-12 col-md-12 mb-12">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <form class="user col-sm-12 mb-12 mb-sm-12">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="fecha_movimiento"></label>
                                    <input type="date" class="form-control form-control-user" id="fecha_movimiento"
                                           name="fecha_movimiento" placeholder="Fecha de movimiento">
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="tipo_movimientod"></label>
                                    <select id="tipo_movimientod" name="tipo_movimiento" class="form-control">
                                        <option value="">-- Seleccione movimiento --</option>
                                        {% for nombre, id in dict_movimiento.items %}
                                            <option value="{{ id }}" data-nombre="{{ nombre }}">
                                                {{ nombre }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="productod"></label>
                                    <select id="productod" name="producto" class="form-control">
                                        <option value="">-- Seleccione producto --</option>
                                        {% for producto in ls_producto %}
                                            <option value="{{ producto.id }}"
                                                    data-nombre="{{ producto.nombre }}">{{ producto.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="cantidad"></label>
                                    <input type="number" class="form-control form-control-user" id="cantidad"
                                           name="cantidad" placeholder="Cantidad">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12 mb-6 mb-sm-0">
                                    <button id="agregar" type="button" class="btn btn-facebook btn-block">Agregar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4 mt-5 col-xl-12 col-md-12 mb-12">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="tabla_movimiento" width="100%" cellspacing="0"
                           data-url-save="{% url 'app_dashboard:api:crear-movimiento-producto-list' %}"
                           data-url-refresh="{% url 'app_dashboard:registro-movimiento-producto' %}">
                        <thead>
                        <tr>
                            <th>Fecha movimiento</th>
                            <th>Tipo movimiento</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 mb-6 mb-sm-0">
                    <button id="guardar" type="button" class="btn btn-facebook btn-block">Guardar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}